<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ENSUITE</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      .menu-item {
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        padding: 13px 6px;
      }

      .menu-item.active {
        background-color: #f2f2f2;
        border-radius: 8px;
        padding: 13px 6px;
        margin: 3px 0px;
        color: black;
      }

      .close-btn {
        display: none;
      }

      @media (max-width: 767px) {
        .close-btn {
          display: block;
          position: absolute;
          top: 10px;
          right: 10px;
          height: 30px;
          width: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: rgb(48, 79, 255);
          border-radius: 50%;
          border: none;
          font-size: 24px;
          cursor: pointer;
        }

        #sidebar {
          transform: translateX(-100%);
          transition: transform 0.3s ease;
        }

        #sidebar.hidden {
          transform: translateX(0);
        }
      }
    </style>
  </head>
  <body>
    <div class="flex">
      <!-- Sidebar -->
      <aside id="sidebar"
      class="bg-white p-5 shadow-md h-screen md:h-screen fixed md:relative hidden md:block transition-transform -translate-x-full md:translate-x-0 w-64 overflow-hidden">
      <img src="./assets/img/ENSUITELogo.png" width="198" height="45" alt="ENSUITE Logo" />
      <ul class="list-none p-0 py-12">
        <a href="/acegpt/chat.html">
          <li class="menu-item cursor-pointer py-2 px-2 font-bold flex items-center justify-between pb-8">
            ACE GPT
            <img src="./assets/img/ACE GPT.png" width="24px" height="24px" alt="ACE GPT Icon" />
          </li>
        </a>
        <a href="/studybuddy/studyBuddyAI.html">
          <li class="menu-item cursor-pointer py-2 px-2 font-bold flex items-center justify-between pb-8">
            Study Buddy AI
            <img src="./assets/img/Study Buddy Vector.png" width="24px" height="24px" alt="Campus Cart Icon" />
          </li>
        </a>
        <a href="/workspace/dashboard2.html">
          <li class="menu-item cursor-pointer py-2 px-2 font-bold flex items-center justify-between pb-8">
            Workspace
            <img src="./assets/img/Files Vector.png" width="24px" height="24px" alt="Workspace Icon" />
          </li>
        </a>

        <a href="./studyBuddyAI.html">
          <li class="menu-item cursor-pointer py-2 px-2 font-bold flex items-center justify-between pb-8">
            Campus Cart
            <img src="./assets/img/Campus.png" width="24px" height="24px" alt="Student Hub Icon" />
          </li>
        </a>
        <a href="/acegpt/new-chat.html">
          <li class="menu-item cursor-pointer py-2 px-2 font-bold flex items-center justify-between pb-8">
            Serenity
            <img src="./assets/img/Mind Vector.png" width="24px" height="24px" alt="Uni-Link Icon" />
          </li>
        </a>
        <a href="/acegpt/new-chat.html">

          <li class="menu-item cursor-pointer py-2 px-2 font-bold flex items-center justify-between pb-8">
            Uni Link
            <img src="./assets/img/Chat Vector.png" width="24px" height="24px" alt="EasyFit Icon" />
          </li>
        </a>


      </ul>
    </aside>

      <!-- Main Content Area -->
      <div class="flex-col md:flex-row h-full w-full">
        <!-- Header -->
        <header class="bg-white shadow-md py-3 md:mx-16">
          <nav class="flex justify-between items-center mx-4 md:mx-8">
            <div class="flex items-center flex-col">
              <a href="#" class="font-bold md:text-lg flex gap-4 items-center">
                <img src="../../assets/img/Group-left.png" alt="" />Muscle
                Makers
              </a>
            </div>
            <div class="flex items-center">
              <ul
                class="flex ml-10 space-x-8 font-bold hidden lg:flex text no-underline"
                style="color: #bcbcbc"
              >
                <li>
                  <a href="./dashboard.html" class="hover:text-purple-600"
                    >Dashboard</a
                  >
                </li>
                <li>
                  <a
                    href="./blog.html"
                    class="border-b-2 border-purple-600"
                    style="color: #3a1569"
                    >Blog</a
                  >
                </li>
                <li>
                  <a href="#" class="hover:text-purple-600">Calendar</a>
                </li>
                <li>
                  <a href="#" class="hover:text-purple-600">Files</a>
                </li>
                <li>
                  <a href="#" class="hover:text-purple-600">Configuration</a>
                </li>
              </ul>
            </div>
            <div class="flex gap-4 items-center">
              <img
                src="../../assets/img/Bell Vector.png"
                width="24px"
                height="24px"
                alt="Bell Icon"
              />
              <img
                src="../../assets/img/Profile Avatar.png"
                width="44px"
                height="44px"
                alt="Profile"
              />
              <button
                id="menu-btn"
                class="md:hidden border-2 border-purple-500 text-white px-2 py-2 rounded-lg"
                onclick="toggleSidebar()"
              >
                <img
                  src="../../assets/img/align-justify.svg"
                  width="30px"
                  height="30px"
                  alt="Menu Icon"
                />
              </button>
            </div>
          </nav>
        </header>

        <!-- Main Content -->
        <main
          class="transition-all duration-300 md:col-span-3 p-4 lg:p-14 lg:flex xl:w-11/12 xl:gap-16"
        >
          <div class="flex flex-col xl:w-1/5 justify-center gap-4">
            <div class="mb-4 flex flex-col gap-4">
              <div
                class="flex items-center gap-4 cursor-pointer calendar-view"
                onclick="openModal()"
              >
                <img
                  src="../../assets/img/homem-icon.png"
                  alt=""
                  class="rounded-full p-2"
                  style="background-color: #f2ddff"
                />
                <p class="font-bold xl:text-xl">Calendar View</p>
              </div>
              <div class="flex items-center gap-4">
                <img src="../../assets/img/iconamoon_discover.png" alt="" />
                <p class="font-bold xl:text-xl" style="color: #c5c5c5">
                  List View
                </p>
              </div>
            </div>
            <div class="mb-4">
              <button
                class="text-black rounded-full p-2.5 text-sm font-medium"
                style="background-color: #ececec"
              >
                All Events
              </button>
            </div>
            <div class="event-category flex items-center gap-4">
              <div
                class="event-dot w-4 h-4 rounded-full"
                style="background-color: #ff0000"
              ></div>
              <span style="color: #828282">Training Sessions</span>
            </div>
            <div class="event-category flex items-center gap-4">
              <div
                class="event-dot w-4 h-4 rounded-full"
                style="background-color: #00ff00"
              ></div>
              <span style="color: #828282">Nutrition Workshops</span>
            </div>
            <div class="event-category flex items-center gap-4">
              <div
                class="event-dot w-4 h-4 rounded-full"
                style="background-color: #0000ff"
              ></div>
              <span style="color: #828282">Wellness Seminars</span>
            </div>
            <div class="event-category flex items-center gap-4">
              <div
                class="event-dot w-4 h-4 rounded-full"
                style="background-color: #ffa500"
              ></div>
              <span style="color: #828282">Community Runs</span>
            </div>
            <div class="event-category flex items-center gap-4">
              <div
                class="event-dot w-4 h-4 rounded-full"
                style="background-color: #ff69b4"
              ></div>
              <span style="color: #828282">Competition Events</span>
            </div>
            <div class="event-category flex items-center gap-4">
              <div
                class="event-dot w-4 h-4 rounded-full font-medium"
                style="background-color: #ffa500"
              ></div>
              <span style="color: #828282">Equipment Tutorials</span>
            </div>
            <div class="mt-6">
              <button
                class="border-2 border-blue-800 font-bold rounded-full p-2.5 text-sm font-bold hover:bg-purple-500 hover:text-white transition md:mb-4 xl:mb-0"
              >
                Manage Categories
              </button>
            </div>
          </div>
          <div class="md:w-full md:flex md:flex-col">
            <div class="flex items-baseline gap-4 md:p-2 p-0">
              <img src="../../assets/svg/Left Arrow Vector.svg" alt="" />
              <h2 class="font-bold xl:text-3xl text-xl mb-6">June 2024</h2>
              <img src="../../assets/svg/Right Arrow Vector.svg" alt="" />
            </div>
            <img
              src="../../assets/img/calender.png"
              alt="Calendar Image"
              id="calendar-img"
            />
          </div>
        </main>
      </div>
    </div>

    <!-- Error Modal -->

    <!-- Modal -->
    <!-- Event Modal -->
    <div
      id="event-modal"
      class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center hidden"
    >
      <div
        class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full"
      >
        <div class="px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3
                class="text-2xl leading-6 font-medium text-center font-bold text-align: center"
                id="modal-title"
              >
                Balancing for Performance
              </h3>
              <div class="mt-2">
                <p class="text-base">
                  <strong class="block"
                    >📅 Friday June 7, 2024 | 6:15 pm – 6:45 pm</strong
                  >
                </p>
                <p
                  style="color: #5d5d5d"
                  class="block mt-2 text-base font-bold"
                >
                  <span style="color: #b0b0b0" class="font-bold">
                    Description:</span
                  >
                  You’ll learn how to optimize your diet by adjusting protein,
                  carbohydrate, and fat intake to enhance your athletic
                  performance and recovery.
                </p>
                <a
                  href="https://meet.google.com/xlnzd-vjgse-6nv4i"
                  target="_blank"
                  class="block mt-2 text-blue-500 underline"
                >
                  Meeting Link: https://meet.google.com/xlnzd-vjgse-6nv4i
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <button
            type="button"
            class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
            onclick="closeModal()"
          >
            Close
          </button>
        </div>
      </div>
    </div>

    <script>
      function toggleSidebar() {
        var sidebar = document.getElementById("sidebar");
        sidebar.classList.toggle("hidden");
      }

      function openModal() {
        document.getElementById("event-modal").classList.remove("hidden");
      }

      function closeModal() {
        document.getElementById("event-modal").classList.add("hidden");
      }

      function openErrorModal() {
        document.getElementById("error-modal").classList.remove("hidden");
      }

      function closeErrorModal() {
        document.getElementById("error-modal").classList.add("hidden");
      }

      document.addEventListener("DOMContentLoaded", () => {
        document
          .getElementById("calendar-img")
          .addEventListener("click", openModal);
      });
    </script>
  </body>
</html>
