<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <style>
    .menu-item.active {
      background-color: #f2f2f2;
      border-radius: 8px;
      padding: 13px 6px;
      margin: 3px 0px;
      color: black;
    }

    .close-btn {
      display: none;
    }

    @media (max-width: 767px) {
      .close-btn {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(48, 79, 255);
        border-radius: 50%;
        border: none;
        font-size: 24px;
        cursor: pointer;
      }
      #sidebar {
        transform: translateX(-100%);
        transition: transform 0.3s ease;
      }
      #sidebar.hidden {
        transform: translateX(0);
      }
    }

    @media (max-width: 640px) {
      .step-line {
        height: 2px;
        width: 70px;
      }

      .step-indicator {
        margin-bottom: 1rem;
      }
    }
  </style>
</head>

<body>
  <div class="flex">
    <!-- Sidebar -->
    <aside
      id="sidebar"
      class="bg-white p-5 shadow-md h-screen md:h-screen fixed md:relative hidden md:block transition-transform -translate-x-full md:translate-x-0 w-64 overflow-hidden"
    >
      <img
        src="/assets/img/ENSUITELogo.png"
        width="198"
        height="45"
        alt="ENSUITE Logo"
      />
      <ul class="list-none p-0 py-12">
        <a href="/acegpt/chat.html">
          <li
            class="menu-item cursor-pointer py-2 px-2 font-bold flex items-center justify-between pb-8"
          >
            ACE GPT
            <img
              src="/assets/img/ACE GPT.png"
              width="24px"
              height="24px"
              alt="ACE GPT Icon"
            />
          </li>
        </a>
        <a href="/studybuddy/studyBuddyAI.html">
          <li
            class="menu-item cursor-pointer py-2 px-2 font-bold flex items-center justify-between pb-8"
          >
            Study Buddy AI
            <img
              src="/assets/img/Study Buddy Vector.png"
              width="24px"
              height="24px"
              alt="Campus Cart Icon"
            />
          </li>
        </a>
        <a href="../view/dashboard.html">
          <li
            class="menu-item cursor-pointer py-2 px-2 font-bold flex items-center justify-between pb-8"
          >
            Workspace
            <img
              src="/assets/img/Files Vector.png"
              width="24px"
              height="24px"
              alt="Workspace Icon"
            />
          </li>
        </a>

        <a href="/studyBuddyAI.html">
          <li
            class="menu-item cursor-pointer py-2 px-2 font-bold flex items-center justify-between pb-8"
          >
            Campus Cart
            <img
              src="/assets/img/Campus.png"
              width="24px"
              height="24px"
              alt="Student Hub Icon"
            />
          </li>
        </a>
        <a href="/acegpt/new-chat.html">
          <li
            class="menu-item cursor-pointer py-2 px-2 font-bold flex items-center justify-between pb-8"
          >
            Serenity
            <img
              src="/assets/img/Mind Vector.png"
              width="24px"
              height="24px"
              alt="Uni-Link Icon"
            />
          </li>
        </a>
        <a href="/acegpt/new-chat.html">
          <li
            class="menu-item cursor-pointer py-2 px-2 font-bold flex items-center justify-between pb-8"
          >
            Uni Link
            <img
              src="/assets/img/Chat Vector.png"
              width="24px"
              height="24px"
              alt="EasyFit Icon"
            />
          </li>
        </a>
      </ul>
    </aside>

    <!-- Main Content Area -->
    <div class="flex-col md:flex-row h-full w-full">
      <!-- Header -->
      <header class="bg-white shadow-md py-3 md:mx-16">
        <nav class="flex justify-between items-center mx-4 md:mx-8">
          <h2 class="text-left md:text-xl font-bold">Workspace</h2>
          <div class="flex gap-4 items-center">
            <img
              src="/assets/img/Bell Vector.png"
              width="24px"
              height="24px"
              alt="Bell Icon"
            />
            <img
              src="/assets/img/Profile Avatar.png"
              width="44px"
              height="44px"
              alt="Profile"
            />
            <button
              id="menu-btn"
              class="md:hidden border-2 border-purple-500 text-white px-2 py-2 rounded-lg"
              onclick="toggleSidebar()"
            >
              <img
                src="/assets/img/align-justify.svg"
                width="30px"
                height="30px"
                alt="Menu Icon"
              />
            </button>
          </div>
        </nav>
      </header>
<!-- content -->
      <div class="flex w-full">
        <div
          style="
            width: 30%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
          "
        >
          <div
            style="
              width: 75%;
              height: 20%;
              display: flex;
              flex-direction: column;
              gap: 30px;
            "
          >
            <div class="flex" style="gap: 15px">
              <div
                style="
                  width: 30px;
                  height: 30px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 31px;
                  background-color: #f2ddff;
                "
              >
                <img
                  src="../../assets/img/home.png"
                  width="15px"
                  height="15px"
                  alt="icon"
                />
              </div>
              <a href="#" style="font-size: 15px; font-weight: 700"
                >Dashboard</a
              >
            </div>
            <div class="flex" style="gap: 22px">
              <img
                src="../../assets/img/discover.png"
                width="24px"
                height="24px"
                alt="icon"
              />
              <a
                href="../discover1.html"
                style="font-size: 15px; font-weight: 700; color: #c5c5c5"
                >Discover</a
              >
            </div>
          </div>
        </div>
        <div style="width: 55%; padding-top: 38px">
          <div>
            <h2 class="font-bold" style="font-size: 22px">
              Hi
              <span style="font-size: 22px; font-weight: 500; color: #fd92ff">
                Lia</span
              >
            </h2>
            <p class="font-bold" style="color: #757575; font-size: 24px">
              Have you caught up with your workspaces?
            </p>
          </div>
          <div>
            <div
              style="
                margin-top: 37px;
                display: flex;
                justify-content: space-between;
              "
            >
              <span
                style="
                  display: flex;
                  gap: 12px;
                  color: #757575;
                  font-size: 18px;
                  font-weight: 400;
                "
              >
                <img src="../../assets/img/search.png" alt="icon" /><p class="font-bold" style="color: #c4c4c4;">
                    Search Your
                    Workspaces
                </p></span
              >
              <h1 class="font-bold">View All</h1>
            </div>
            <div class="flex justify-between" style="margin-top: 18px">
              <div style="width: 30%; border-radius: 4px">
                <img src="../../assets/img/people.png" width: 186px; height: 124px;
                alt="img">
                <div
                  style="
                    width: 98%;
                    height: 40%;
                    background-color: white;
                    box-shadow: #75757547 0px 7px 7px 0px;
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                  "
                >
                  <div
                    style="
                      padding: 6px 6px 6px 6px;
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                    "
                  >
                    <p
                      class="font-bold"
                      style="font-size: 14px; color: #2c2c2c"
                    >
                      Celebrity Drama
                    </p>
                    <a href="#" class="font-bold">...</a>
                  </div>
                  <p
                    class="font-bold"
                    style="font-size: 10px; padding-left: 8px; color: #8900b9"
                  >
                    Created by you
                  </p>
                </div>
              </div>
              <div style="width: 30%; border-radius: 4px">
                <img src="../../assets/img/people.png" width: 186px; height: 124px;
                alt="img">
                <div
                  style="
                    width: 98%;
                    height: 40%;
                    background-color: white;
                    box-shadow: #75757547 0px 7px 7px 0px;
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                  "
                >
                  <div
                    style="
                      padding: 6px 6px 6px 6px;
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                    "
                  >
                    <p
                      class="font-bold"
                      style="font-size: 14px; color: #2c2c2c"
                    >
                      Celebrity Drama
                    </p>
                    <a href="#" class="font-bold">...</a>
                  </div>
                </div>
              </div>
              <div style="width: 30%; border-radius: 4px">
                <img src="../../assets/img/people.png" width: 186px; height: 124px;
                alt="img">
                <div
                  style="
                    width: 98%;
                    height: 40%;
                    background-color: white;
                    box-shadow: #75757547 0px 7px 7px 0px;
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                  "
                >
                  <div
                    style="
                      padding: 6px 6px 6px 6px;
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                    "
                  >
                    <p
                      class="font-bold"
                      style="font-size: 14px; color: #2c2c2c"
                    >
                      Celebrity Drama
                    </p>
                    <a href="#" class="font-bold">...</a>
                  </div>
                </div>
            </div>
        </div>
        <a href="../" style="
        margin-top: 23px;
        display: flex;
        justify-content: flex-end;
        color: #3A1569;
        font-size: 16px;
        font-weight: 600
        ">+Create Workspace</a>
          </div>
          <div style=" margin-top: 32px; ">
              <h2 class="font-bold" style="font-size: 24px;">
                Your Events
              </h2>
              <div style="
                 width: 100%;
                height: 11vh;
                background-color: #F5F5F5;
                margin-top: 13px;
                border-radius: 4px;
                padding: 15px 15px 15px 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
              " >
                <div class="flex" style="width: 58%; gap: 12px;">
                    <div style="width: 14%; border-radius: 4px; background-color: white; font-size: 22px; font-weight: 600;  text-align: center; display: flex; align-items: center; justify-content: center;">14</div>
                   <span style="
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                   
                   ">
                       <p style="color: #757575;">10:30 am to 12:30am</p>
                       <p style="font-weight: 400;">10k Campus Run</p>
                   </span>
                </div>
                <h2 style="font-size: 18px; font-weight: 500;">Muscle Makers</h2>
              </div>
              <div style="
              width: 100%;
             height: 11vh;
             background-color: #F5F5F5;
             margin-top: 13px;
             border-radius: 4px;
             padding: 15px 15px 15px 15px;
             display: flex;
             justify-content: space-between;
             align-items: center;
           " >
             <div class="flex" style="width: 58%; gap: 12px;">
                 <div style="width: 14%; border-radius: 4px; background-color: white; font-size: 22px; font-weight: 600;  text-align: center; display: flex; align-items: center; justify-content: center;">14</div>
                <span style="
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                     align-items: flex-start;
                
                ">
                    <p style="color: #757575;">10:30 am to 12:30am</p>
                    <p style="font-weight: 400;">10k Campus Run</p>
                </span>
             </div>
             <h2 style="font-size: 18px; font-weight: 500;">Muscle Makers</h2>
           </div>
           <div style="
           width: 100%;
          height: 11vh;
          background-color: #F5F5F5;
          margin-top: 13px;
          border-radius: 4px;
          padding: 15px 15px 15px 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        " >
          <div class="flex" style="width: 58%; gap: 12px;">
              <div style="width: 14%; border-radius: 4px; background-color: white; font-size: 22px; font-weight: 600;  text-align: center; display: flex; align-items: center; justify-content: center;">14</div>
             <span style="
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: flex-start;
             
             ">
                 <p style="color: #757575;">10:30 am to 12:30am</p>
                 <p style="font-weight: 400;">10k Campus Run</p>
             </span>
          </div>
          <h2 style="font-size: 18px; font-weight: 500;">Muscle Makers</h2>
        </div>
        <div style="
        width: 100%;
       height: 11vh;
       background-color: #F5F5F5;
       margin-top: 13px;
       border-radius: 4px;
       padding: 15px 15px 15px 15px;
       display: flex;
       justify-content: space-between;
       align-items: center;
     " >
       <div class="flex" style="width: 58%; gap: 12px;">
           <div style="width: 14%; border-radius: 4px; background-color: white; font-size: 22px; font-weight: 600;  text-align: center; display: flex; align-items: center; justify-content: center;">14</div>
          <span style="
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: flex-start;
          ">
              <p style="color: #757575;">10:30 am to 12:30am</p>
              <p style="font-weight: 400;">10k Campus Run</p>
          </span>
       </div>
       <h2 style="font-size: 18px; font-weight: 500;">Muscle Makers</h2>
     </div>
          </div>
          
        </div>
      </div>
    </div>
  </body>
</html>
