<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <style>
    .menu-item.active {
      background-color: #f2f2f2;
      border-radius: 8px;
      padding: 13px 6px;
      margin: 3px 0px;
      color: black;
    }

    .close-btn {
      display: none;
    }

    @media (max-width: 767px) {
      .close-btn {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(48, 79, 255);
        border-radius: 50%;
        border: none;
        font-size: 24px;
        cursor: pointer;
      }

      #sidebar {
        transform: translateX(-100%);
        transition: transform 0.3s ease;
      }

      #sidebar.hidden {
        transform: translateX(0);
      }
    }
  </style>
</head>
<body>
  <div class="flex">
    <!-- Sidebar -->
    <aside
      id="sidebar"
      class="bg-white p-5 shadow-md h-screen md:h-screen fixed md:relative hidden md:block transition-transform -translate-x-full md:translate-x-0 w-64 overflow-hidden"
    >
      <img
        src="../../assets/img/ENSUITELogo.png"
        width="198"
        height="45"
        alt="ENSUITE Logo"
      />
      <ul class="list-none p-0 py-12">
        <a href="../../acegpt/chat.html">
          <li
            class="menu-item cursor-pointer py-2 px-2 font-bold flex items-center justify-between pb-8"
          >
            ACE GPT
            <img
              src="../../assets/img/ACE GPT.png"
              width="24px"
              height="24px"
              alt="ACE GPT Icon"
            />
          </li>
        </a>
        <a href="../../studybuddy/studyBuddyAI.html">
          <li
            class="menu-item cursor-pointer py-2 px-2 font-bold flex items-center justify-between pb-8"
          >
            Study Buddy AI
            <img
              src="../../assets/img/Study Buddy Vector.png"
              width="24px"
              height="24px"
              alt="Campus Cart Icon"
            />
          </li>
        </a>
        <a href="../view/dashboard.html">
          <li
            class="menu-item cursor-pointer py-2 px-2 font-bold flex items-center justify-between pb-8"
          >
            Workspace
            <img
              src="../../assets/img/Files Vector.png"
              width="24px"
              height="24px"
              alt="Workspace Icon"
            />
          </li>
        </a>

        <a href="./studyBuddyAI.html">
          <li
            class="menu-item cursor-pointer py-2 px-2 font-bold flex items-center justify-between pb-8"
          >
            Campus Cart
            <img
              src="../../assets/img/Campus.png"
              width="24px"
              height="24px"
              alt="Student Hub Icon"
            />
          </li>
        </a>
        <a href="/acegpt/new-chat.html">
          <li
            class="menu-item cursor-pointer py-2 px-2 font-bold flex items-center justify-between pb-8"
          >
            Serenity
            <img
              src="../../assets/img/Mind Vector.png"
              width="24px"
              height="24px"
              alt="Uni-Link Icon"
            />
          </li>
        </a>
        <a href="/acegpt/new-chat.html">
          <li
            class="menu-item cursor-pointer py-2 px-2 font-bold flex items-center justify-between pb-8"
          >
            Uni Link
            <img
              src="../../assets/img/Chat Vector.png"
              width="24px"
              height="24px"
              alt="EasyFit Icon"
            />
          </li>
        </a>
      </ul>
    </aside>

    <!-- Main Content Area -->
    <div class="flex-col md:flex-row h-full w-full">
      <!-- Header -->
      <header class="bg-white shadow-md py-3 md:mx-16">
        <nav class="flex justify-between items-center mx-4 md:mx-8">
          <div class="flex items-center flex-col">
            <a href="#" class="font-bold md:text-lg flex gap-4 items-center">
              <img src="../../assets/img/Group-left.png" alt="" />Muscle
              Makers
            </a>
          </div>
          <div class="flex items-center">
            <ul
              class="flex ml-10 space-x-8 font-bold hidden lg:flex text no-underline"
              style="color: #bcbcbc"
            >
              <li>
                <a href="./dashboard.html" class="hover:text-purple-600"
                  >Dashboard</a
                >
              </li>
              <li>
                <a
                  href="./blog.html"
                  class="border-b-2 border-purple-600"
                  style="color: #3a1569"
                  >Blog</a
                >
              </li>
              <li>
                <a href="./calender.html" class="hover:text-purple-600"
                  >Calendar</a
                >
              </li>
              <li>
                <a href="./files.html" class="hover:text-purple-600">Files</a>
              </li>
              <li>
                <a href="./configuration" class="hover:text-purple-600"
                  >Configuration</a
                >
              </li>
            </ul>
          </div>
          <div class="flex gap-4 items-center">
            <img
              src="../../assets/img/Bell Vector.png"
              width="24px"
              height="24px"
              alt="Bell Icon"
            />
            <img
              src="../../assets/img/Profile Avatar.png"
              width="44px"
              height="44px"
              alt="Profile"
            />
            <button
              id="menu-btn"
              class="md:hidden border-2 border-purple-500 text-white px-2 py-2 rounded-lg"
              onclick="toggleSidebar()"
            >
              <img
                src="../../assets/img/align-justify.svg"
                width="30px"
                height="30px"
                alt="Menu Icon"
              />
            </button>
          </div>
        </nav>
      </header>
      <!-- content -->
      <div style="padding-top: 76px; padding-left: 176px; width: 75%">
        <div>
          <h2 style="font-size: 23px; font-weight: 500">Muscle Makers</h2>
          <p style="font-size: 18px; font-weight: 400">
            View files uploaded by workspace members
          </p>
        </div>
        <div style="margin-top: 87px">
          <span class="flex gap-3">
            <img src="../../assets/img/search.png" alt="" />
            <p style="color: #bcbcbc; font-size: 18px; font-weight: 600">
              Browse Files
            </p>
          </span>
          <div
            style="
              margin-top: 32px;
              width: 100%;
              height: 53vh;
              display: grid;
              grid-template-columns: repeat(6, 1fr);
              grid-template-rows: 1fr 1fr;
            "
          >
            <div style="width: 96%; height: 64%">
              <span style="display: flex">
                <img
                  src="../../assets/img/File Vector.png"
                  alt=""
                  style="margin-top: 13px"
                />
                <div>
                  <a href="#">...</a>
                </div>
              </span>
              <h3 style="font-size: 12px; font-weight: 700; padding-top: 5px">
                Rules 2024
              </h3>
            </div>
            <div style="width: 96%; height: 64%">
              <span style="display: flex">
                <img
                  src="../../assets/img/File Vector 3.png"
                  alt=""
                  style="margin-top: 13px"
                />
                <a href="#">...</a>
              </span>
              <h3 style="font-size: 12px; font-weight: 700; padding-top: 5px">
                Seminar 3
              </h3>
            </div>
            <div style="width: 96%; height: 64%">
              <span style="display: flex">
                <img
                  src="../../assets/img/File Vector 3.png"
                  alt=""
                  style="margin-top: 13px"
                />
                <a href="#">...</a>
              </span>
              <h3 style="font-size: 12px; font-weight: 700; padding-top: 5px">
                Seminar 2
              </h3>
            </div>
            <div
              style="
                width: 96%;
                height: 73%;
                display: flex;
                flex-direction: column;
                padding-top: 12px;
              "
            >
              <span style="display: flex">
                <img
                  src="../../assets/img/Folder1.png"
                  alt=""
                  style="margin-top: 13px"
                />
                <a href="#">...</a>
              </span>
              <h3 style="font-size: 12px; font-weight: 700; padding-top: 5px">
                Workshop Guide
              </h3>
            </div>
            <div
              style="
                width: 96%;
                height: 73%;
                display: flex;
                flex-direction: column;
                padding-top: 12px;
              "
            >
              <span style="display: flex">
                <img
                  src="../../assets/img/Folder2.png"
                  alt=""
                  style="margin-top: 13px"
                />
                <a href="#">...</a>
              </span>
              <h3 style="font-size: 12px; font-weight: 700; padding-top: 5px">
                Admin Use
              </h3>
            </div>
            <div style="width: 96%; height: 64%">
              <span style="display: flex">
                <img
                  src="../../assets/img/File Vector 4.png"
                  alt=""
                  style="margin-top: 13px"
                />
                <a href="#">...</a>
              </span>
              <h3 style="font-size: 12px; font-weight: 700; padding-top: 5px">
                2024 <br />
                Milestones
              </h3>
            </div>
            <div
              style="
                width: 96%;
                height: 73%;
                display: flex;
                flex-direction: column;
                padding-top: 12px;
              "
            >
              <span style="display: flex">
                <img
                  src="../../assets/img/Folder7.png"
                  alt=""
                  style="margin-top: 13px"
                />
                <a href="#">...</a>
              </span>
              <h3 style="font-size: 12px; font-weight: 700; padding-top: 5px">
                Campus Routes
              </h3>
            </div>
            <div style="width: 96%; height: 64%">
              <span style="display: flex">
                <img
                  src="../../assets/img/Vector 5.png"
                  alt=""
                  style="margin-top: 13px"
                />
                <a href="#">...</a>
              </span>
              <h3 style="font-size: 12px; font-weight: 700; padding-top: 5px">
                Training Safety
              </h3>
            </div>
            <div
              style="
                width: 96%;
                height: 73%;
                display: flex;
                flex-direction: column;
                padding-top: 12px;
              "
            >
              <span style="display: flex">
                <img
                  src="../../assets/img/Folder6.png"
                  alt=""
                  style="margin-top: 13px"
                />
                <a href="#">...</a>
              </span>
              <h3 style="font-size: 12px; font-weight: 700; padding-top: 5px">
                Compition <br />
                Roadmap 2024
              </h3>
            </div>
            <div
              style="
                width: 96%;
                height: 73%;
                display: flex;
                flex-direction: column;
                padding-top: 12px;
              "
            >
              <span style="display: flex">
                <img
                  src="../../assets/img/Folder5.png"
                  alt=""
                  style="margin-top: 13px"
                />
                <a href="#">...</a>
              </span>
              <h3 style="font-size: 12px; font-weight: 700; padding-top: 5px">
                Equipment <br />
                Tutorials 2024
              </h3>
            </div>
            <div style="width: 96%; height: 64%">
              <span style="display: flex">
                <img
                  src="../../assets/img/File vector 3.png"
                  alt=""
                  style="margin-top: 13px"
                />
                <a href="#">...</a>
              </span>
              <h3 style="font-size: 12px; font-weight: 700; padding-top: 5px">
                Seminar 1
              </h3>
            </div>
            <div
              style="
                width: 96%;
                height: 73%;
                display: flex;
                flex-direction: column;
                padding-top: 12px;
              "
            >
              <span style="display: flex">
                <img
                  src="../../assets/img/Folder4.png"
                  alt=""
                  style="margin-top: 13px"
                />
                <a href="#">...</a>
              </span>
              <h3 style="font-size: 12px; font-weight: 700; padding-top: 5px">
                All Things Training
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- delete -->

    <!-- delete -->
  </body>
</html>
